.DS_Store
.idea

# symbolic links created from bin_install_update
aws
aws_completer
terraform

# programs installed with bin_install_update
act
actionlint
circleci
dagger
fzf
lazygit
starship
terraform-docs
terragrunt
tflint
tfswitch

# programs that can be installed from an other way
docker
docker-compose
docker-credential-osxkeychain
kubectl
orb
orbctl
